<h1>New book</h1>
<%= form_for @book,  do |f| %>

<h4>Title</h4>
<%= f.label(:title, title)
<%= f.text_area :title %>

<h4>Body</h4>
<%= f.label(:body, body)
<%= f.text_area :body %>
<br>

<%= f.submit 'Create Book' %>
